*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-size-adjust: 32px  ;
}

header{
    background-color: #ADD8E6;
    padding: 10px 10%;
}

.container{
    display: flex;
}

div{
    /* border-style: dotted; */
}

nav{
    /* border-style: dotted; */
    flex-grow: 3;
    text-align: center;
}

.top-header{
    background-color: #daa520;
    border-style: dotted;
    width: 100%;
    margin: auto;
}

.logo{
    align-self: flex-start;
    flex-grow: 1;
    border-right-style: dotted;
    padding: 5px;
    
}

nav li{
    display: inline-block;
}

nav ul{
    list-style: none;
    padding: 5px;
}

.login{
    flex-grow: 1;  
    border-left-style: dotted;
    text-align: right;
    padding: 5px;
}

.row1{
    background-color: #00008b;
    padding: 30px 20%;
}

.central{
    height: 300px;
    margin: auto;
    background-color: #ee82ee;
}